<div class="ae-search">
	<div id="search" class="input-group">		
		<input type="search" name="search" value="{{ search }}" placeholder="{{ placeholder_search }}" class="form-control"/>
		<button type="button" class="btn-search btn">{{text_search}}</button>
		
	</div>
</div>
