<div class="ae-search">
	<div id="search" class="input-group">
		<input type="text" name="search" value="{{ search }}" placeholder="{{ placeholder_search }}" class="form-control" required="required"/>
		<button type="button" class="btn-search btn">{{text_search}}</button>

	</div>
</div>
