#cart {
    ul {
        li {
            color: #333;
            font-size: 14px;

            a {
                color: #333;

                &.view-cart {
                    padding: 10px;
                    background-color: $main;
                    color: #fff;
                    margin-bottom: 1rem;
                    display: inline-block;
                }

                &.checkout {
                    padding: 10px;
                    background-color: $sec;
                    color: #fff;
                    margin-bottom: 1rem;
                    display: inline-block;
                }
            }

            p {
                margin: 0;

                &.text-empty {
                    padding: 20px;
                }
            }
        }
    }
}

.table td,
.table th {
    vertical-align: middle;
}

.table {
    .table-head-labels {
        background-color: #343a40;
        color: #fff;
        font-weight: 600;
        font-size: 16px;

        @include m576 {
            font-size: 12px;
        }
    }

    .table-body {
        font-size: 16px;
        font-weight: 600;

        a {
            color: #333;
            text-decoration: none;
            @include trans(all, .2s, ease-in-out);

            &:hover {
                color: $sec;
            }
        }
    }

}