.site-footer {
    background-color: $main;
    color: #eeeeee;
    padding: 60px 0;
    font-size: 16px;

    .widget {
        @include m768 {
            margin-bottom: 30px;
        }
    }

    .widget-inner {
        position: relative;

        @include m768 {
            display: none;

            &.widget-on {
                display: block;
            }
        }

    }

    .widget-title {
        position: relative;
        @include m768 {
            cursor: pointer;
        }
        .footer-title {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
            margin-bottom: 30px;
        }

        .dropdown {
            display: none;

            @include m768 {
                position: absolute;
                top: -4px;
                right: 0;
                color: #fff;
                display: block;
            }
        }
    }



    ul {
        &.column-2 {
            column-count: 2;
        }

        li {
            margin-bottom: 10px;

            a {
                @include trans(all, .3s, linear);
                color: #eeeeee;
                text-decoration: none;

                &:hover {
                    color: $light;
                }
            }
        }
    }
}

.footer-copyright {
    background-color: $dark;
    color: #eeeeee;
    line-height: 50px;
    font-size: 16px;
}