.ae-header {
    background-color: $main;

    @include m992 {
        display: none;
    }

    //top bar

    .top-bar {
        padding: 40px 0 20px;
    }

    // Header Logo
    #logo {
        img {
            width: 250px;
        }
    }


    li {
        color: #fff;

        &.separator {
            margin: 0 5px;
        }
    }

    a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        @include trans(all, .3s, linear);

        &:hover {
            color: $light;
        }

        i {
            margin-right: 10px;
        }
    }

    #ae-primary-nav {
        background-color: $dark;

        &.scrolled {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
        }



        .nav-wrap {
            li {
                a {
                    font-size: 16px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #fff;
                    padding: 12px 15px;
                    font-weight: 600;
                    @include trans(all, .3s, linear);
                    position: relative;

                    &:hover,
                    &.active {
                        color: $light;
                    }

                    &.active {
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: -12px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            width: 0;
                            height: 0;
                            z-index: 99;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-top: 8px solid $sec;
                        }
                    }
                }
            }
        }


    }
}

#cart {
    button {
        color: #fff;
        @include trans(all, .3s, linear);
        font-size: 18px;

        &:hover {
            color: $light;
        }
    }
}


// Currency

.currency {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    font-size: 14px;

    .btn-currency {
        color: #fff;
        text-decoration: none;
        @include trans(all, .3s, linear);
        box-shadow: none;
            outline: inherit;
            border: none;
        &:hover {
            color: $light;
        }
    }

    .dropdown-menu {
        padding: 0;
        border-radius: 0;

        .dropdown-item {
            padding: 0;
            box-shadow: none;
            outline: inherit;
            border: none;

            &:active {
                color: #fff;
                text-decoration: none;
                background-color: $main;

                button {
                    color: #fff;
                }
            }

        }
    }

    .currency-select {
        font-size: 14px;
        border: none;
        background: none;
        outline: inherit;
        border: none;
        box-shadow: none;
        padding: .25rem 1.5rem;
    }
}


// Header Search
.ae-search {
    width: 450px;
    position: relative;

    &:hover {
        .input-group {
            button {
                background-color: $sec;
            }
        }
    }

    &:before {
        content: "\f002";
        font-family: "Fontawesome";
        color: #85a9ad;
        position: absolute;
        top: 10px;
        left: 15px;

    }



    .input-group {
        border: 2px solid #fff;

        input {
            background-color: transparent;
            border: 0px;
            color: #fff;
            font-weight: normal;
            font-size: 14px;
            padding: 10px 25px 10px 40px;
            height: inherit;
            border-radius: 0px;

            &:focus {
                background-color: #fff;
                color: #000;
                border: none;
                box-shadow: none;
            }

            &::placeholder {
                color: #85a9ad;
            }
        }

        button {
            padding: 5px 30px;
            background: $dark;
            border-radius: 0;
            border: none;
            color: #fff;
            font-size: 14px;
            font-weight: 500;

        }
    }
}

.categories-wrap {
    position: relative;

    button {
        background-color: $sec;
        padding: 15px 0 14px 15px;
        color: #fff;
        border-radius: 0;
        font-weight: bold;
        text-transform: uppercase;
        width: 250px;
        text-align: start;
        font-size: 14px;
        border: none;
        outline: inherit;

        i {
            margin-right: 10px;
        }
    }

    .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #FFF;
        z-index: 9999;
        width: 100%;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

        &.is-open {
            display: block;
        }

        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.04);

            a {
                font-size: 14px;
                color: #222;
                padding: 8px 15px;
                font-weight: 500;
                display: block;
                position: relative;
                @include trans(all, .2s, linear);

                &:hover {
                    color: $sec;
                    padding: 8px 20px;
                }
            }
        }
    }
}