.product-page {
    padding: 70px 0;

    .left-content {
        .thumbnails {
            list-style: none;
            overflow: hidden;
            margin-bottom: 30px;

            li {
                margin-bottom: 30px;

                &:first-child {
                    img {
                        display: block;
                        margin: auto;
                    }
                }

                &:nth-child(2) {
                    margin: 0 !important;
                }

                &.image-additional {

                    float: left;
                    margin-left: 20px;

                    a {
                        padding: 5px;
                        display: block;
                        border: 1px solid #ddd;
                    }
                }
            }

        }
    }

    .right-content {
        h1 {
            font-size: 32px;
        }

        .product-price,
        .price-new {
            color: $main;
            font-size: 28px;

            h2 {
                font-weight: 600;
            }
        }

        .price-old {
            color: $sec;
            font-size: 16px;
        }

        #product {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include m576 {
                display: block;
            }

            .select-qty {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 0 0 49%;
                background-color: #eee;
                text-align: center;
                padding: 10px;

                @include m576 {
                    flex: auto;
                    margin-bottom: 20px;
                }

                label {
                    flex: 0 0 50%;
                    margin: 0;
                    font-weight: 600;
                    font-size: 16px;

                }
            }

            .button-form {
                flex: 0 0 49%;

                @include m576 {
                    flex: auto;
                    width: 100%;
                }

                .ae-btn {
                    padding: 18px 40px;

                    @include m576 {
                        width: 100%;
                    }

                }
            }
        }
    }

    .tab-review {
        .nav-link {
            color: $sec;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 20px;

            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $sec;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

        .rating {
            span {
                color: $sec;
            }
        }
    }

    .review-form {
        #review {
            .no-reviews {
                font-size: 16px;
            }
        }

        .text-review {
            font-size: 21px;
            font-weight: bold;
        }

        .rating-group {
            &.selected {
                label {
                    &:not(.active) {
                        i {
                            &:before {
                                content: "\f005";
                            }
                        }
                    }

                    &.active~label {
                        i {
                            &:before {
                                content: "\f006";
                            }
                        }
                    }
                }
            }

            label {
                cursor: pointer;
                margin: 0;

                &:hover,
                &.active {
                    i {
                        &:before {
                            content: "\f005";
                        }
                    }
                }
            }

            input {
                display: none;
            }
        }

        .control-label {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
        }


    }
}